<p-toast />
<app-floating-configurator />
<div class="min-h-screen grid grid-cols-1 md:grid-cols-2">
    <!-- Imagen a la izquierda -->
    <div class="hidden md:block bg-cover bg-center bg-no-repeat background-image-class"></div>

    <!-- Formulario a la derecha -->
    <div class="flex items-center justify-center px-4 py-10 bg-white dark:bg-gray-900">
        <div class="custom-login-wrapper w-full max-w-md">
            <div class="bg-white dark:bg-gray-900 shadow-md rounded-xl px-8 py-10">
                <div class="text-center mb-8">
                    <h1 class="text-2xl font-semibold text-gray-900 dark:text-white">AGROCULTURA GOBPE</h1>
                    <p class="text-gray-500 dark:text-gray-400 mt-2">Crea tu cuenta para continuar</p>
                </div>

                <div class="grid grid-cols-1 gap-5">
                    <div>
                        <p-inputgroup>
                            <p-inputgroup-addon>
                                <i class="pi pi-user text-gray-500 dark:text-gray-400"></i>
                            </p-inputgroup-addon>
                            <input pInputText [(ngModel)]="usuariosistemaregister.nombre" placeholder="Nombre"
                                required />
                        </p-inputgroup>
                        <small class="text-red-500" *ngIf="enviar && !usuariosistemaregister.nombre">Nombre es
                            requerido</small>
                    </div>
                    <div>
                        <p-inputgroup>
                            <p-inputgroup-addon>
                                <i class="pi pi-user text-gray-500 dark:text-gray-400"></i>
                            </p-inputgroup-addon>
                            <input pInputText [(ngModel)]="usuariosistemaregister.apellido" placeholder="Apellido"
                                required />

                        </p-inputgroup>
                        <small class="text-red-500" *ngIf="enviar && !usuariosistemaregister.apellido">Apellido es
                            requerido</small>
                    </div>

                    <div>
                        <p-inputgroup>
                            <p-inputgroup-addon>
                                <i class="pi pi-user text-gray-500 dark:text-gray-400"></i>
                            </p-inputgroup-addon>
                            <input pInputText [(ngModel)]="usuariosistemaregister.usuario" placeholder="Usuario"
                                required />
                        </p-inputgroup>
                        <small class="text-red-500" *ngIf="enviar && !usuariosistemaregister.usuario">Usuario es
                            requerido</small>
                    </div>
                    <div>
                        <p-inputgroup>
                            <p-inputgroup-addon>
                                <i class="pi pi-lock text-gray-500 dark:text-gray-400"></i>
                            </p-inputgroup-addon>
                            <input type="password" pInputText [(ngModel)]="usuariosistemaregister.password"
                                placeholder="Contraseña" required />

                        </p-inputgroup>
                        <small class="text-red-500" *ngIf="enviar && !usuariosistemaregister.nombre">Contraseña es
                            requerido</small>
                    </div>
                    <div>
                        <p-inputgroup>
                            <p-inputgroup-addon>
                                <i class="pi pi-envelope text-gray-500 dark:text-gray-400"></i>
                            </p-inputgroup-addon>
                            <input pInputText [(ngModel)]="usuariosistemaregister.email" placeholder="Email" required />
                        </p-inputgroup>
                        <small class="text-red-500" *ngIf="enviar && !usuariosistemaregister.nombre">Email es
                            requerido</small>
                    </div>

                    <div class="flex justify-end mt-4">
                        <span class="text-sm text-primary font-medium cursor-pointer hover:underline"
                            (click)="irAlLogin()">¿Ya tienes una
                            cuenta?</span>
                    </div>

                    <div class="mt-8">
                        <p-button label="Registrar" styleClass="w-full" (onClick)="guardarUsuarioSistema()"
                            [loading]="isLoading">
                        </p-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

    .background-image-class {
        background-image: url('src/assets/imagen/agricultura.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }


    .custom-login-wrapper {
        border-radius: 32px;
        padding: 2px;
        background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);
    }

    @media (max-width: 768px) {
        .register-container {
            grid-template-columns: 1fr !important;
        }
    }
</style>
